<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Game over</title>

</head>
<style>
    #playBox{
        margin-top: 20%;
    }

    a{
        text-decoration: none;
        color: black;
    }

    a:hover{
        color: red;
    }

</style>
<body>
    <div align="center" id="playBox">
        <h1>Guess The Number Game</h1>
        <h2>Game Over!</h2>
        <h3 id="result-message">Result Message Contents</h3>
        <h3><a id="restart-link">Play Again</a></h3>
        <h3><a id="home-link">Home</a></h3>
        <footer id="footerId">
            <p>Created by User</p>
        </footer>
    </div>
</body>
</html>