<!DOCTYPE html>
<html lang="en">
<head id="headId">
    <meta charset="UTF-8">
    <title>Title content</title>
</head>

<style>
    #playBox{
        margin-top: 20%;
    }

    #playButton{
        text-transform: uppercase;
    }

    #playButton a{
        text-decoration: none;
        color: black;
    }

    #playButton a:hover{
        color: red;
    }

</style>
<body>
    <div align="center" id="playBox">
        <h1 id="game-title">Welcome to Guess the Number Game</h1>
        <h2 id="playButton">
        <a id="play-game" href="play.html">Click to play</a>
        </h2>
    </div>
    <footer id="footerId">
        <p>Created by User</p>
    </footer>
</body>
</html>